<footer>
	<div class="container">
		<div class="row">
			<div class="col s12 m8">
				<h5>Computer Science Club</h5>
				<p>The University of Adelaide</p>
				<p>
					<a href="/">Home</a> | <a href="/about">About</a> | <a href="/join">Join</a> | <a href="/events">Events</a> | <a href="/sponsors">Sponsors</a> | <a href="/contact">Contact</a>
				</p>
			</div>
			<div class="col s12 m4">
				<div>
					Connect with Us
					<div class="social-icons">
						<a href="https://www.facebook.com/compsci.adl/" target="_blank">
							<i class="fa fa-facebook-official"></i>
						</a>
						<a href="https://github.com/compsci-adl" target="_blank">
							<i class="fa fa-github"></i>
						</a>
						<a href="https://www.linkedin.com/company/compsci-adl/" target="_blank">
							<i class="fa fa-linkedin-square"></i>
						</a>
						<a href="https://discord.gg/UjvVxHA" target="_blank">
							<i class="fab fa-discord"></i>
						</a>
						<a href="mailto:contact@csclub.org.au" target="_blank">
							<i class="fa fa-envelope"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col s12">
				<p>&copy; 2022 Computer Science Club. All rights reserved.</p>
			</div>
		</div>
	</div>
</footer>