<div class="navbar-fixed">
    <nav>
        <div class="container nav-wrapper">
            <img id="logo" src="/images/logo_sm.png" style="height: 100%;" alt="">
            <a href="/" class="brand-logo with-logo">CS Club</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/join">Join</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/sponsors">Sponsors</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse right">
                <i class="material-icons hide-on-large-only">menu</i>
            </a>
        </div>
    </nav>
</div>

<ul id="slide-out" class="side-nav">
    <li class="logo">
        <a id="logo-container" href="/" class="brand-logo">
            <img src="/images/logo.png" style="height: 100%;" alt="">
        </a>
    </li>
    <!-- https://material.io/icons/ -->
    <li><a href="/"><i class="material-icons">home</i>Home</a></li>
    <li><a href="/about"><i class="material-icons">info</i>About</a></li>
    <li><a href="/join"><i class="material-icons">person_add</i>Join</a></li>
    <li><a href="/events"><i class="material-icons">event</i>Events</a></li>
    <li><a href="/sponsors"><i class="material-icons">handshake</i>Sponsors</a></li>
    <li><a href="/contact"><i class="material-icons">email</i>Contact</a></li>
</ul>

<script src="/js/csclub.materialize-v1.0.js"></script>
<script src="/js/typed.js"></script>
<script src="/js/lunr.min.js"></script>
<script src="/js/csclub.common.js"></script>